/* Global Styles */
:root {
  --primary-color: #17a2b8;
  --dark-color: #343a40;
  --light-color: #f4f4f4;
  --danger-color: #dc3545;
  --success-color: #28a745;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: url("./img/background.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  /* background-color: #fff; */

  color: #333;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

#status {
  color: var(--primary-color);
}
/* Utilities */
.container {
  max-width: 1100px;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
  margin-top: 32px;
  margin-bottom: 32px;
  /* position: relative; */
}

/* Navbar */
.navbar {
  display: flex;
  align-items: center;
  padding: 0.7rem 2rem;
  z-index: 1;
  top: 0;
  width: 1100px;
  margin: auto;
}

.navbar ul {
  display: flex;
}

.navbar a {
  color: #fff;
  padding: 0.45rem;
  margin: 0 0.25rem;
}

.navbar a:first-child {
  padding-left: 0;
  margin-left: 0;
}

.navbar a:last-child {
  padding-right: 0;
  margin-right: 0;
}

.navbar a:hover {
  color: var(--primary-color);
}

.navbar .welcome span {
  margin-right: 0.6rem;
}

/* Footer */
.footer {
  max-width: 1100px;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
}

.footer ul {
  display: flex;
}

.footer a {
  color: #fff;
  padding: 0.45rem;
  margin: 0 0.25rem;
}

.footer a:first-child {
  padding-left: 0;
  margin-left: 0;
}

/* Landing Page */

.landing-inner {
  color: #fff;
  height: 100%;
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#hash-value {
  text-align: right;
  margin-right: 5px;
}

/* Mobile Styles */
@media (max-width: 700px) {
  .container {
    margin-top: 9rem;
  }

  .hide-sm {
    display: none;
  }

  /* Text Styles */
  .x-large {
    font-size: 3rem;
  }

  .large {
    font-size: 2rem;
  }

  .lead {
    font-size: 1rem;
  }

  /* Navbar */
  .navbar {
    display: block;
    text-align: center;
  }

  .navbar ul {
    text-align: center;
    justify-content: center;
  }

  .navbar h1 {
    margin-bottom: 1rem;
  }

  .navbar .welcome {
    display: none;
  }

  /* Profiles Page */
  .profile {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .profile ul {
    display: none;
  }

  /* Profile Page */

  .profile-top img,
  .profile img {
    width: 200px;
    margin: auto;
  }

  .profile-grid {
    grid-template-areas:
      "top"
      "about"
      "exp"
      "edu"
      "github";
  }

  .profile-about .skills {
    flex-direction: column;
  }

  .dash-buttons a {
    display: block;
    width: 100%;
    margin-bottom: 0.2rem;
  }

  .post {
    grid-template-columns: 1fr;
  }
  .post a,
  .post button {
    padding: 0.3rem 0.4rem;
  }
}

/* For coin flip animation */
#coin {
  position: relative;
  margin: 0 auto;
  width: 64px;
  height: 100px;
}
/* #coin div {
  width: 100%;
  height: 100%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -webkit-box-shadow: inset 0 0 45px rgba(255, 255, 255, 0.3),
    0 12px 20px -10px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: inset 0 0 45px rgba(255, 255, 255, 0.3),
    0 12px 20px -10px rgba(0, 0, 0, 0.4);
  box-shadow: inset 0 0 45px rgba(255, 255, 255, 0.3),
    0 12px 20px -10px rgba(0, 0, 0, 0.4);
} */
/* .side-a {
  background-color: #bb0000;
  color: white;
  text-align: center;
}
.side-b {
  background-color: #3e3e3e;
  color: white;
  text-align: center;
} */

#coin {
  transition: transform 10s ease-in;
  transform-style: preserve-3d;
}
#coin div {
  position: absolute;
  backface-visibility: hidden;
}
.side-a {
  z-index: 100;
}
.side-b {
  transform: rotateY(-180deg);
}

#coin.HEADS {
  -webkit-animation: flipHeads 1s ease-out forwards;
  -moz-animation: flipHeads 1s ease-out forwards;
  -o-animation: flipHeads 1s ease-out forwards;
  animation: flipHeads 1s ease-out forwards;
}
#coin.TAILS {
  -webkit-animation: flipTails 1s ease-out forwards;
  -moz-animation: flipTails 1s ease-out forwards;
  -o-animation: flipTails 1s ease-out forwards;
  animation: flipTails 1s ease-out forwards;
}

@keyframes flipHeads {
  from {
    -webkit-transform: rotateY(0);
    -moz-transform: rotateY(0);
    transform: rotateY(0);
  }
  to {
    -webkit-transform: rotateY(540deg);
    -moz-transform: rotateY(540deg);
    transform: rotateY(540deg);
  }
}
@keyframes flipTails {
  from {
    -webkit-transform: rotateY(0);
    -moz-transform: rotateY(0);
    transform: rotateY(0);
  }
  to {
    -webkit-transform: rotateY(720deg);
    -moz-transform: rotateY(720deg);
    transform: rotateY(720deg);
  }
}

.bg_button {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* .ban_btn::before {
  content: "";
  background-image: url("./img/btn_bg.png");
  background-size: cover;
  position: absolute;
  top: -31px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.1;
}

.flip_history_btn::before {
  content: "";
  background-image: url("./img/btn_bg1.png");
  background-size: cover;
  position: absolute;
  top: -30px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.1;
} */
