@font-face {
  font-family: "Oxanium";
  font-style: normal;
  src: url("Oxanium.ttf");
}

@font-face {
  font-family: "Helvetica";
  font-style: normal;
  src: url("Helvetica.ttf");
}

@font-face {
  font-family: "Lato";
  font-style: normal;
  src: url("Helvetica.ttf");
}
